/*--------------------------------------------------------------
# Font Family
--------------------------------------------------------------*/
@font-face {
    font-family: "HindVadodara";
    src: url( '/static/fonts/hindVadodara/HindVadodara-Regular.ttf' );
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bold-HindVadodara";
    src: url( '/static/fonts/hindVadodara/HindVadodara-SemiBold.ttf' );
    font-style: normal;
    font-display: swap;
}


/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$font-scale--tablet:                0.95;
$font-scale--mobile:                0.9;

$font-sizing-map: (
    "h1":               3em,
    "h2":               2.4em,
    "h3":               1.8em,
    "h4":               1.4em,
    "p":                1.2em,
    "p.text-sm":        1em,
    "p.text-xs":        0.8em
);

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
@each $font-type, $font-size in $font-sizing-map {
    #{$font-type} {
        font-size: $font-size;
    }
}

/* BREAKPOINT LARGE */
@media(max-width: $breakpoint--large) {
    @each $font-type, $font-size in $font-sizing-map {
        #{$font-type} {
            font-size: $font-size * $font-scale--tablet;
        }
    }
}

/* BREAKPOINT MEDIUM */
@media(max-width: $breakpoint--medium) {
    @each $font-type, $font-size in $font-sizing-map {
        #{$font-type} {
            font-size: $font-size * $font-scale--mobile;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bold-HindVadodara;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.weak-heading {
    font-weight: normal;
}