/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-family: Verdana; 
  scroll-behavior: smooth;
}

main.site-content {
  text-align: center;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}