/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-family: HindVadodara;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}